<h3>My Questions</h3>

<% @messages.each do |message|%>

	<p>
	<%= link_to message.question, message_path(message) %> 
	(<%=message.page_views.to_i%>)
	
	<%=link_to "X", message_path(message.image_id, identifier: message.identifier), method: :delete, confirm: "Are You Sure?", class: "btn btn-mini btn-danger" %>
	</p>


<% end %>


