<h3 id="qod">
	<% if @type == "forward" %>
 		Forward It
 	<% elsif @type == "reply" %>
 		Create a Reply
 	<%else %>
 		Question of the Day
 	<%end%>
 </h3>


	<% @message = @new_message %>	

	<%= render "form" %>
