<h2>About</h2>

<p>
JiffyPoll is the working title of a joint project created by two currently unemployed junior developers in Colorado.  It was designed using Ruby, Rails and Twitter-Bootstrap.  To learn more, feel free to reach out to us at sgc.endeavors@gmail.com.
</p>

<br><br>
<%=link_to "Back to Home", landing_page_path%>

<br>