


<h4 id="faq">How Do I Make a JiffyQ Question?</h4>
<ol>
	<li><%= link_to "Sign up", new_user_registration_path %></li> 
	<li>From the menu bar, select the "New Question" link (or press the JiffyQ logo on the home page)</li>
	<li>Upload a funny or thought provoking <b>image</b>.</li>
	<li>Craft a creative <b>question</b> related to the image.</li>
	<li>Enter custom text for the <b>buttons</b> to answer your question.</li>
	<li>Compose witty <b>passages</b> associated with the buttons you've designed.</li>
	<li><b>Share</b> your JffyQ through text, email or social media.</li>
	<li>Then do it all again!</li>
</ol>
<%=link_to "Back to Home", home_path%>

<br><br>
<h4 id="about">About</h4>
<p>
JiffyQ is the working title of a joint project created by two currently under-employed junior developers in Colorado.  It was designed using Ruby, Rails and Twitter-Bootstrap.  To learn more, feel free to reach out to us at sgc.endeavors@gmail.com.<br>
<%=link_to "Back to Home", home_path%>

</p>
