<h4 id="1">
	<div>
		<button type="button" class="btn btn-mini btn-info" data-toggle="collapse" data-target="#demo">?</button>
	
 		Create Your JiffyPoll
 </div>
</h4>

<div id="demo" class="collapse out">
	<small>
			Create Your JiffyPoll of the Day.<br>
			<ul>
				<li>Think of a witty loaded question relevant to the picture.</li>
				<li>Create 2 clever buttons your friends will use to answer the question.</li>
				<li>Create 2 even more clever responses that will appear after the answer buttons are pushed.</li>
				<li>Save and Preview.... test the buttons, etc... make sure everything looks as intended.</li>
			<ul>
	</small>
	<hr />
</div>

	<% @poll = @new_poll %>	

	<%= render "form" %>

